div(class="header")#header 
    a(href="/home") Home
    |  
    if session && session.loggedin
        span 
            a(href="/login/" + session.username) Profile
        span   
            a(href="/logout") Logout
    else
        span
            a(href="/register") Register 
        span
            form(action="/login" method="post")
                | Username: 
                input(type="text" name="username" required)
                |   Password: 
                input(type="password" name="password" required)
                |   
                button(type="submit") Login